<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conghuhu.mapper.ProductMapper">
    <select id="getProductNameById" parameterType="long" resultType="string">
        select productName
        from byte_product
        where id = #{productId};
    </select>

    <select id="getShareProductByUserId" parameterType="long" resultType="com.conghuhu.entity.Product">
        SELECT product.*
        from byte_product product
                 LEFT JOIN byte_pro_user pu
                           on product.id = pu.productId
        where pu.userId = #{userId}
          and pu.inviteUserId is NOT NULL
        ORDER BY product.created_time DESC;
    </select>
</mapper>
