<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conghuhu.mapper.ProUserMapper">
    <select id="getMemberList" parameterType="long" resultType="com.conghuhu.vo.UserVo">
        SELECT user.*
        from byte_user user
        LEFT JOIN  byte_pro_user pu
        on pu.userId = user.userId
        where pu.productId = #{productId};
    </select>
</mapper>
